.topic-item{
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: visible;
  background-color: rgb(227, 238, 241);
}
.topic-item-name span{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 25px;
  font-weight: 300;
  padding-left: 20px
}
.topic-name{
  display: flex;
}
.topic-tasks-count{
  display: flex;
  border: 1px solid blue;
  border-radius: 8px;
  padding: 3px 7px 0px 7px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5em;
  font-style: italic;
}
.taskinfo{
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: auto;
  background-color: rgb(246, 252, 252);
  border-bottom: black 1px solid;
}
.taskinfo:hover{
  background-color: rgb(228, 243, 247);
}
.taskname{
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  width: 60%;
  max-width: 70%;
  padding: 0px;
  height: 100%;
}
.taskname span {
  padding-left: 50px;
  display: flex;
  font-size: 20px;
  font-weight: 300;
  user-select: none;
}
.tags{
  display: flex;
  width: 40%;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.tags-span{
  font-size: 15px;
  display: flex;
  padding: 5px;
  height: auto;
  width: auto;
  overflow: hidden;
  border: 1px blue solid;
  border-radius: 10px;
}
.chooseTask{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 10%;
  height: 100%;
  padding-right: 20px;
}
.moreButton{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
}
.more-span{
  cursor: pointer;
  display: flex;
  padding: 5px 10px 5px 10px;
  height: auto;
  width: auto;
  border: 1px rgb(127, 203, 253) solid;
  background-color: rgb(176, 228, 235);
  border-radius: 15px;
  color: black;
}
.more-span:hover{
  transition: all 0.5s;
  background-color: rgb(43, 38, 109);
  color: white;
}
.score{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
}
.score-span{
  display: flex;
  height: auto;
  width: auto;
  padding: 3px 6px 3px 6px;
  border: 1px rgb(14, 247, 130) solid;
  background-color: aliceblue;
  border-radius: 5px;
}
.teacher-tasks{
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-between;
}
.set-tasks-button{
  display: flex;
  width: 100px;
  align-self: flex-end;
}
.taskinfo-first-part, .taskinfo-second-part{
  height: auto;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}
.taskinfo-first-part{
  width: 75%;
  justify-content: space-between
}
.taskinfo-second-part{
  width: 25%;
  justify-content: center;
}
@media(max-width: 1000px){
  .taskinfo{
    flex-direction: column;
  }
  .taskinfo-first-part{
    width: 100%;
  }
  .taskname{
    width: 60%;
  }
  .tags{
    width: 40%;
  }
  .taskinfo-second-part{
    margin-left: 63%;
    margin-right: 3%;
    width: 35%;
  }
}
@media(max-width: 700px){
  .taskinfo-first-part{
    flex-direction: column;
  }
  .tags, .taskname{
    width: 100%;
    justify-content: center;
  }
  .taskinfo-second-part{
    width: 50%;
    margin-left: 23%;
    margin-right: 27%;
  }
  .taskname span{
    padding-left: 10px;
  }
  .taskname span {
    font-size: 18px;
  }
}
@media(max-width: 500px){
  .taskinfo-second-part{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}
