.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 10px;
  width: -webkit-fill-available;
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background: url(../../img/mainPage.png) no-repeat;
  background-size: 200%;
  background-position-y: center;
}
.text-field {
  margin-top: 0;
  width: 100%;
}
.menu {
  width: 100%;
}
.login-button {
  transition: .3s;
  width: 200px;
  color: #fff !important;
  background-color: #2196f3 !important;
}
.login-header {
  padding: 15px;
}

.login-button:hover {
  background-color: #1b77c5 !important;
}

.sign-up-button {
  transition: .3s;
  text-decoration: none;
  color: #2196f3;
}

.sign-up-button:hover {
  color: #000;
}

@media (min-width: 800px) {
  .container {
      width: 100%;
  }
  .input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: 'red';
    background-size: 100%;
  }

  .input-panels {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .text-field {
    flex-grow: 2;
    margin-top: 0;
    width: 300px;
  }

  .login-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login-button {
    width: 300px;
  }

  .text-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }
}

@media screen and (min-width: 1378px) {
  .container {
    width: 300px;
  }
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: 'red';

  }
  .text-panel {
    padding-left: 0;
  }
  .login-button {
    width: 200px;
  }
  .text-field {
    margin-top: 0;
    width: 200px
  }
}
